body{
    background-image: url(../images/cover.jfif);
    background-repeat: no-repeat;
    padding-bottom: 15px;
}

h1{
    color: #ff6666;
    background-color: white;
	text-align: center;
    font-family: sans-serif;
    font-style: italic;
    width: 300px;
    margin-left: 530px;
    opacity: 0.6;
}

h2{
	text-align: center;
	padding-top: 15px;
    margin-top: 5px;
    margin-bottom: 7px;
}

.register{
    background-image: url(../images/bg.jpg);
    margin:0px 830px 0px 250px;
    height: 607px;
    border-color: 7px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 
    opacity: 0.8px;
}

.form{
	margin-left: 35px;
    font-size: 17px;
    font-family: sans-serif;
    border: 2px solid black;
    border-left-color: none;
    background-color: white;
    padding:0px 10px;
    width: 570px;
    height: 605px;
    margin-top: -10px;
    margin-left: 250px;
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
    opacity: 0.8;
}

label{
    display: inline-block;
    font-weight: bolder;
    font-size: 18px;
}

#spam ,#phone ,#EMAIL ,#invalidKey{
    margin-top: 2px;
    font-size: 15px;
    color: red;
    font-weight: bold;
}

#star ,#star1 ,#star2 ,#star3{
    font-size: 20px;
    color: red;
    font-weight: bolder;
    display: inline-block;
}

#fullname ,#nick ,#shopname, #Shopadd, #product{
    width: 330px;
    height: 25px;
    outline: 0;
    border: none;
    font-size: 16px;/*
    border-bottom: 2px solid lightblue;
    border-left: 2px solid lightblue;
    border-left: 2px solid black;*/
    border-bottom: 2px solid black;
    background: transparent;
    text-transform: uppercase;
    font-weight: bold;
}

#email{
    width: 330px;
    height: 25px;
    outline: 0;
    border: none;
    font-size: 16px;/*
    border-bottom: 2px solid lightblue;
    border-left: 2px solid lightblue;
    border-left: 2px solid black;*/
    border-bottom: 2px solid black;
    background: transparent; 
    font-weight: bold;   
}

::placeholder{
    text-transform: none;
}

#password, #pass{
    width: 330px;
    height: 25px;
    outline: none;  
    border: none;
    font-size: 16px;
    background: transparent;
    font-weight: bold;/*
    border-bottom: 2px solid lightblue; 
    border-left: 2px solid lightblue;
    border-left: 2px solid black;*/
    border-bottom: 2px solid black;
    /*background-image: url(../images/Capture.png);
    background-repeat: no-repeat;
    background-position: 290px 6.5px; 
    background-size: 10% 50%; */
}

#ph{
    width: 50px;
    height: 31px;
    /*border-radius: 5px;*/
    outline: 0;
    border: none;
    font-weight: bold;/*
    border-bottom: 2px solid lightblue; 
    border-left: 2px solid lightblue;
    border-left: 2px solid black;*/
    border-bottom: 2px solid black;
}

#Phone{
    width: 276px;
    height: 25px;
    /*border-radius: 5px;*/
    outline: 0;
    border: none;
    font-weight: bold;
    background: transparent;/*
    border-bottom: 2px solid lightblue; 
    border-left: 2px solid lightblue;
    border-left: 2px solid black;*/
    border-bottom: 2px solid black;
    font-size: 16px;
}

#submit {
    width: 150px;
    border: none;
    border-radius: 6px;
    height: 40px;
    font-size: 20px;
    margin-left: -10px;
    background-color: darkseagreen;
    cursor: pointer;
    opacity: none;
    font-weight: bold;
}

#reset{
    width: 150px;
    height: 40px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: darkseagreen;
    font-weight: bold;
}

#reset:hover{
    background-color: orange;
    opacity: 0.8;
}

#submit:hover{
    background-color: green;
    opacity: 0.8;
}

/*#showPassword{
    position: absolute; 
    border-color: red;
    cursor: pointer;
    right: 0px;
    top: 6px;
    border: none;
    height: 20px;
    width: 30px;
    border-radius: 100%;
    outline: none;
    text-align: center;
    font-weight: bold;
    padding: 2px 5px;
    background-image: url(../images/Capture.png);
    background-repeat: no-repeat;
    background-position: 0px 0px; 
    background-size: 100% 100%;
} */

.fa{
  margin-right: 10px; 
}

.eye{
  position: absolute;
}

#hide1{
  display: none;
}

#show{
    margin-left: 10px;
    margin-top: 4px;
}